@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, strong, ol, ul, li, form, footer, header,
menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.navBar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    
}

.navTitle {
    font-size: 2.5rem;
    font-weight: 500;
}

.pageLinks {
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
    font-size: 1.15rem;
}

.cartIcon {
    align-self: center;
    font-size: 1.15rem;
    cursor: pointer;
}

.homeContent {
    background-image: url('/src/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: static;
    top: 79px;
    bottom: 0;
    width: 100%;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.description {
    width: 50vw;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}

span {
    color: rgb(13, 126, 113);
    font-weight: 700;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.shopTitle{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 3rem 0 2rem 9rem;
}

.cardImage {
    width: 9rem;
    margin-top: 4rem;
}

.productCard {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content:space-between
}

.shopPage {
    background-color: rgb(236, 236, 236);
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content:center;
    align-items: center;
    margin-bottom: 3rem;
}

.productTitle {
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1rem;
}

.price {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cart{
    position:fixed;
    top: 0;
    right: -20%;
    width: 22%;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    transition: right 1s ease-in-out; 
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cartHeader {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
}

.cartTitle {
    font-size: 1.5rem;
    font-weight: 700;
    margin-right: 6rem;
}

.xButton {
    margin-left: 3rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.cart.isOpen {
    right: 0; 
  }

  .checkout {
    margin-bottom: 1rem;
    width: 80%;
    height: 2.25rem;
    border-radius: 7px;
    background-color: rgb(13, 126, 113);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.itemImage {
    width: 5rem;
    margin-right: 1rem;
}

.cartItems {
    align-self: flex-start;
    margin: 1rem 0 3rem 2rem;
    width: 80%;
    height: 75%;
    overflow-y: auto;
}

.imagePrice {
    display: flex;
    align-items: center;
    align-items: flex-end;
}

.cartProduct {
    background-color: rgb(255, 255, 255);
    padding: .5rem;
    margin-bottom: 1rem;
    color: black;
    border-radius: 8px;
}

.amountControl {
    display: flex;
    justify-content: center;
    margin: 1rem 0 0 0;
}

.amount {
    margin: 0 .5rem 0 .5rem;
}

.subtract, .add {
    width: 3rem;
    font-size: 20px;
    height: 1.5rem;
    font-weight: 500;
    background-color: rgb(13, 126, 113);
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
}

.each {
    font-size: 20px;
    font-weight: 500;
}

.total {
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: 500;
}