@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html, body, div, span, h1, h2, h3, h4, h5, h6, p,
a, em, strong, ol, ul, li, form, footer, header,
menu, nav {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

.navBar {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    color: white;
    
}

.navTitle {
    font-size: 2.5rem;
    font-weight: 500;
}

.pageLinks {
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
    font-size: 1.15rem;
}

.cartIcon {
    align-self: center;
    font-size: 1.15rem;
}

.homeContent {
    background-image: url('/src/images/background2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 79px;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.welcome {
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.description {
    width: 50vw;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: center;
}

span {
    color: rgb(13, 126, 113);
    font-weight: 700;
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.cardImage {
    width: 9rem;
    margin: 1rem 0 1rem 0;
}

.productCard {
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    justify-content: space-around;
}

.shopPage {
    background-color: rgb(236, 236, 236);
}

.productInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
}

